<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous"></head>

<head th:replace="fragments :: head (titulo='Registro')"></head>

<body>
<div class="container-fluid">

    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            <h2>Registro nuevo usuario</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/registro}" th:object="${registroData}">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="eMail">Correo electrónico</label>
                            <input id="eMail" class="form-control" name="eMail" placeholder="Correo electrónico"
                                   type="text" th:field="*{eMail}" required/>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input id="nombre" class="form-control" name="nombre" placeholder="Nombre" type="text"
                                   th:field="*{nombre}"/>
                        </div>
                        <div class="form-group mt-2">
                            <label for="apellido">Apellido</label>
                            <input id="apellido" class="form-control" name="apellido"
                                    placeholder="Apellido" th:field="*{apellido}" />
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input id="password" class="form-control" name="password" placeholder="Contraseña"
                                   type="password" th:field="*{password}" required/>
                        </div>

                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha de nacimiento</label>
                            <input id="fechaNacimiento" class="form-control" name="fechaNacimiento"
                                   placeholder="01-12-2019" th:field="*{fechaNacimiento}"/>
                        </div>

                        <div class="form-group" th:if="${!existeAdmin}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:field="*{esAdministrador}" id="esAdministrador">
                                <label class="form-check-label" for="esAdministrador">Registrarse como administrador</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Registro</button>
                        <a class="btn btn-link" href="/login">Ir a login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-9">
            <div th:object="${registroData}">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <ul th:if="${error != null}" class="alert alert-danger">
                <li th:text="${error}"></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>
</html>