<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>
<h1>Login</h1>
<form method="POST" action="/">
    <p>Usuario</p>
    <input type="text" name="username" placeholder="Username"><br><br>
    <p>Contraseña</p>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Login">
    <a class="registro" href="/registro">Registrarse</a>
    <a class="acercaDe" href="/about">Acerca De</a><br>
    <a href="https://trello.com/invite/b/683c4289952b062577c95cbd/ATTI0e94bae214f5177354a6dd4c7a21d15dDB880E49/my-trello-board">Historias de usuario en Trello</a>
</form>
</body>
</html>