<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios Registrados</title>
</head>
<body>
<h1>Usuarios Registrados</h1>

    <table border="1" cellpadding="5", cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}">ID</td>
            <td th:text="${usuario.nombre}">Nombre</td>
            <td th:text="${usuario.email}">Email</td>
            <td th:text="${usuario.bloqueado} ? 'Bloqueado' : 'Activo'">Estado</td>
            <td>
                <form th:action="@{'/usuarios/' + ${usuario.id} + '/bloqueo'}" method="post">
                    <button type="submit"
                            th:text="${usuario.bloqueado} ? 'Habilitar' : 'Bloquear'">Toggle</button>
                </form>
            </td>
        </tr>
        </tbody>
        </table>
</body>
</html>